<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.suliteos.sonusourav.poshan">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_poshan"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity android:name=".LauncherActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="locked"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        </activity>
        <activity android:name=".SignInActivity"
            android:theme="@style/AppTheme"
            android:label="Login"
            android:screenOrientation="locked"
            android:configChanges="orientation|screenSize|keyboardHidden"
            />
        <activity android:name=".ForgotPassword"
            android:label="Forgot password"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme"/>
        <activity android:name=".DonorSignUp"
            android:label="Sign Up"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme"/>
        <activity android:name=".HospitalSignUp"
            android:label="Sign Up"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>
